table{
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
}
th,td{
    padding: 15px;
    border: 1px solid #a4a4a4;
    height: 30px;
    margin: 30px;
}
td{
    text-align: center;
    
}
th{
    color: red;
    background-color: yellow;
}
